@model DotNetPokedex.Models.Pokemon[]
@{
    ViewBag.Title = "Pokemon";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var pokemon in Model)
    {
        <div class="col-md-3">
            <h4>@pokemon.DisplayText</h4>
            <img src="/Images/@pokemon.CoverImageFileName"
                 alt="@pokemon.DisplayText"
                 class="img-responsive" />
        </div>

    }

</div>