@{
    Layout = null;
    var pokemonName = "Pikachu";
    var pokemonNumber = 25;
    var description = "<p>Pikachu is a short, chubby rodent Pokémon. It is covered in yellow fur with two horizontal brown stripes on its back. It has a small mouth, long, pointed ears with black tips, brown eyes, and the two red circles on its cheeks contain pouches for electricity storage. </p>";
    var details = new string[]
        {
            "Category: Mouse",
            "Type: Electric",
            "Ability: Stattic",
            "Weakness: Ground",
            "Evolves from: Pichu",
            "Evolves to: Raichu"
        };

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>@pokemonName</h1>
     <h2>Pokemon #@pokemonNumber</h2>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Details:</h5>
        <div>@details</div>
    </div>
</body>
</html>
